= form_for(@partner) do |f|
  - if @partner.errors.any?
    #error_explanation
      %h2
        = pluralize(@partner.errors.count, "error")
        prohibited this partner from being saved:
      %ul
        - @partner.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :billede
    %br/
    = f.file_field :image
  .field
    = f.label :link
    %br/
    = f.text_field :link
  .actions
    = f.submit 'Gem'
