%h3 Samarbejdspartnere
%table
  - @partners.each do |partner|
    %tr
      %td= partner.image
      %td= partner.link
      
      - if current_user
        %td= link_to 'Vis', partner
        %td= link_to 'Rediger', edit_partner_path(partner)
        %td= link_to 'Slet', partner, confirm: 'Are you sure?', method: :delete
%br/
- if current_user
  = link_to 'Opret samarbejdspartner', new_partner_path