<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @partner.image %>
</p>

<p>
  <b>Link:</b>
  <%= @partner.link %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
