= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .field
    = f.label :email
    %br/
    = f.text_field :email

  .field
    = f.label :kodeord
    %br/
    = f.password_field :password

  .field
    = f.label :gentag_kodeord
    %br/
    = f.password_field :password_confirmation

  .actions
    = f.submit 'Opret bruger'