- @news.each do |news|
  .news
    = image_tag news.image, :width => 180, :height => 150, :style => 'float:left;margin-right: 10px;' if news.image?
   
    .news_content{:style => 'float:left;width: 300px;'}
      = raw(news.title)
      %br/
      = news.created_at.strftime('%d/%m/%y')
      %br/
      %br/
      = raw(truncate(news.content, :length => 90))
      %br/
      %br/
      = news.place
      %br/
      = news.date
      %br/
      = news.age_range
      %br/
      = link_to 'Læs mere', news, :class => 'generic_link'
      %br/
      %br/

