- @news.each do |news|
  %span{:style => "float:left;width: 600px;"}
    = image_tag "/images/alder_ingen_hindring.jpg", :width => 140, :height => 110
    %br/
    %strong= news.title
    %br/
    = news.created_at
    \-
    = news.place
    %br/
    %br/
    = truncate news.content, :length => 90
    = link_to 'læs mere', news

  %br/
  .news
    = image_tag news.image, :width => 180, :height => 150, :style => 'float:left;margin-right: 10px;' if news.image?
   
    .news_content{:style => 'float:left;width: 300px;'}
      = raw(RedCloth.new(news.title).to_html)
      %br/
      = news.created_at.strftime('%d/%m/%y')
      %br/
      %br/
      = raw(truncate(RedCloth.new(news.content).to_html, :length => 90))
      %br/
      %br/
      = news.place
      %br/
      = news.date
      %br/
      = news.age_range
      %br/
      = link_to 'Læs mere', news, :class => 'generic_link'
      %br/
      %br/
