- @news.each do |news|
  .news
    = image_tag "/images/alder_ingen_hindring.jpg", :width => 180, :height => 150, :style => 'float:left;margin-right: 10px;'
    .news_content{:style => 'float:left;width: 300px;'}
      %strong= news.title
      %br/
      = news.created_at.strftime('%d/%m/%y')
      \-
      = news.place
      %br/
      %br/
      = truncate news.content, :length => 90
      = link_to 'læs mere', news
      %br/

