= form_for @news_item, :html => {:multipart => true} do |f|
  - if @news_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@news_item.errors.count, "error")
        prohibited this news_item from being saved:
      %ul
        - @news_item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :titel
    %br/
    = f.text_field :title
  .textile_box
    .border
      \.h3 Stor titel
      %h3{:style => 'margin:0;padding:0;'} Stor titel
    
    %p.border   
      \*fed*
      %strong fed
    
    %p.border
      \_kursiv_
      %i kursiv
      
    %p.border
      \"link":http://link.com
      = link_to "http://link.com", "http://link.com", :class => 'generic_link' 
    
    %p.border    
      \* punkt 1
      %br/
      \* punkt 2
      %ul
        %li punk 1
        %li punkt 2
      
    %p.border
      \# punkt 1
      %br/
      \# punkt 2
      %ol
        %li punkt
        %li punkt
    
    
    %br/
  .field
    = f.label :indhold
    %br/
    = f.text_area :content
  .field
    = f.label :billede
    %br/
    = f.file_field :image
  %br/
  %br/
  %i Ikke nødvendigt at udfylde
  %br/
  .field
    = f.label :sted
    %br/
    = f.text_field :place
  .field
    = f.label :dato
    %br/
    = f.text_field :date
  .field
    = f.label :aldersgruppe
    %br/
    = f.text_field :age_range
  
  .actions
    = f.submit 'Gem'
    
    
  /.output
    /Browser

