= form_for@news_item,:html => {:multipart => true} do |f|
  - if @news_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@news_item.errors.count, "error")
        prohibited this news_item from being saved:
      %ul
        - @news_item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :titel
    %br/
    = f.text_field :title, :class => "mceEditor"
  .field
    = f.label :indhold
    %br/
    = f.text_area :content, :class => "mceEditor"
  .field
    = f.label :billede
    %br/
    = f.file_field :image
  %br/
  %br/
  %i Ikke nødvendigt at udfylde
  %br/
  .field
    = f.label :sted
    %br/
    = f.text_field :place
  .field
    = f.label :dato
    %br/
    = f.text_field :date
  .field
    = f.label :aldersgruppe
    %br/
    = f.text_field :age_range
  
  .actions
    = f.submit 'Gem'
