%h3 Nyheder
%table
  - @news_items.each do |news_item|
    %tr
      %td= news_item.title
      %td= news_item.place
      - if current_user
        %td= link_to 'Vis', news_item
        %td= link_to 'Rediger', edit_news_item_path(news_item)
        %td= link_to 'Slet', news_item, confirm: 'Er du sikker?', method: :delete
%br/
- if current_user
  = link_to 'Opret nyhed', new_news_item_path