%p
  = raw(@news_item.title)
%p
  = raw(@news_item.content)
%p
  = @news_item.place
%p
  = image_tag @news_item.image if @news_item.image?
  
- if current_user
  .admin_box
    = link_to 'Rediger', edit_news_item_path(@news_item)
    
= link_to 'Tilbage', news_items_path