%p
  = @news_item.title
%p
  = @news_item.content
%p
  = @news_item.place
%p
  = image_tag(@news_item.image || 'noimageavailable.jpg')
  
- if current_user
  = link_to 'Rediger', edit_news_item_path(@news_item)
  |
= link_to 'Tilbage', news_items_path