%p
  = raw(@news_item.title)
%p
  = raw(@news_item.content)
%p
  = @news_item.place
%p
  = image_tag @news_item.image, :width => 150, :height => 150 if @news_item.image?
  
- if current_user
  .admin_box{:style => 'width:60px;text-align:center;'}
    = link_to 'Rediger', edit_news_item_path(@news_item)
%br/
= link_to 'Tilbage', news_items_path