%p
  = raw(@news_item.title)
%p
  = raw(@news_item.content)
%p
  = @news_item.place
%p
  - if @news_item.image
    = image_tag(@news_item.image)
  - else
    = image_tag('noimageavailable.jpg')
  
- if current_user
  = link_to 'Rediger', edit_news_item_path(@news_item)
  |
= link_to 'Tilbage', news_items_path