%h3 Bliv medlem

%table
  %tr
    %td= label_tag 'Fornavn'
    %td= text_field_tag :first_name
  %tr
    %td= label_tag 'Efternavn'
    %td= text_field_tag :last_name
  %tr
    %td= label_tag 'Adresse'
    %td= text_field_tag :address
  %tr
    %td= label_tag 'Postnr'
    %td= text_field_tag :zip_code
  %tr
    %td= label_tag 'By'
    %td= text_field_tag :city
  %tr
    %td= label_tag 'E-mail'
    %td= text_field_tag :email
  %tr
    %td= label_tag 'Tlf'
    %td= text_field_tag :phone
  %tr
    %td
    %td= submit_tag 'Send'
