%h3 Bliv medlem

%p
  Som medlem af teaterforeningen modtager du information og nyhedsbreve om foreningens aktiviteter.
  %br/
  Medlemsskabet strækker sig fra juli 2011 - juni 2012. Som medlem får du rabat på billetter og desuden fuld
  %br/
  abonnementsrabat på Helsingør Teaters abonnementsforestillinger.
  %br/
  Et medlemskab koster 50 kr. som bedes indbetalt på konto: Nordea regnr. 2415 kontonr. 0714190563.
  %br/
  Ved indbetaling skal der skrives fornavn, efternavn, adresse, mail og telefonnummer. Du vil herefter modtage
  %br/
  besked fra teaterforeningen.

%table
  %tr
    %td= label_tag 'Fornavn'
    %td= text_field_tag :first_name
  %tr
    %td= label_tag 'Efternavn'
    %td= text_field_tag :last_name
  %tr
    %td= label_tag 'Adresse'
    %td= text_field_tag :address
  %tr
    %td= label_tag 'Postnr'
    %td= text_field_tag :zip_code
  %tr
    %td= label_tag 'By'
    %td= text_field_tag :city
  %tr
    %td= label_tag 'E-mail'
    %td= text_field_tag :email
  %tr
    %td= label_tag 'Tlf'
    %td= text_field_tag :phone