%h3 Galleri

%p
  Når Teaterforeningen Fredensborg Kommune sætter gang i de første forestillinger fra august, 
  %br/
  kan du her se billeder fra forestillingerne.

%table
  - @galleries.each do |gallery|
    %tr
      %td{:colspan => '4'}
        %h4= link_to gallery.name, gallery
        = gallery.place
        %br/
        = gallery.created_at.strftime('%d/%m/%y')
    %tr
    %tr
      - gallery.images.each do |image|
        %td= image_tag image.image, :width => 100, :height => 100, :class => "image_box" if image.image?
        
    %tr
      %td

        - if current_user
          .admin_box
            = link_to 'Vis', gallery
            = link_to 'Rediger', edit_gallery_path(gallery)
            = link_to 'Slet', gallery, confirm: 'Er du sikker?', method: :delete
    


  