%h3 Billeder
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @galleries.each do |gallery|
    %tr
      %td= gallery.name
      - if current_user
        %td= link_to 'Show', gallery
        %td= link_to 'Edit', edit_gallery_path(gallery)
        %td= link_to 'Destroy', gallery, confirm: 'Are you sure?', method: :delete
%br/
- if current_user
  = link_to 'New Gallery', new_gallery_path