%p#notice= notice
%p
  %table
    - @gallery.images.each do |gallery|
      %tr
        %td= gallery.id
        %td= gallery.title
        %td= image_tag gallery.image, :width => 100, :height => 100, :class => "image_box"

  - if current_user
    = link_to 'Rediger', edit_gallery_path(@gallery)
    |
    = link_to 'Tilbage', galleries_path