%p#notice= notice
%p
  %table
    - @gallery.images.each do |gallery|
      %tr
        %td= gallery.title
        %td.image_box
<<<<<<< HEAD
          = link_to ( image_tag gallery.image, :width => 100, :height => 100), '#'
<<<<<<< HEAD
=======
<<<<<<< HEAD:app/views/galleries/show.haml
>>>>>>> 08da2d98277868f6b16651ca886848f0b34afbc2

=======
          = link_to ( image_tag gallery.image, :width => 100, :height => 100), gallery.image.url
          
<<<<<<< HEAD
>>>>>>> development
=======
>>>>>>> 9ddce6616733a28c6c44834d70dd485b0a1146a9:app/views/galleries/show.haml.kill
>>>>>>> 08da2d98277868f6b16651ca886848f0b34afbc2
  - if current_user
    = link_to 'Rediger', edit_gallery_path(@gallery)
    |
    = link_to 'Tilbage', galleries_path