%p#notice= notice
%p
  %b Name:
  = @gallery.name
  %p

  %table
    %tr
      %th ID
      %th Navn
      %th Billede

    - @gallery.images.each do |gallery|
      %tr
        %td= gallery.id
        %td= gallery.title
        %td= image_tag gallery.image, :width => 100, :height => 100, :class => "image_box"

  - if current_user
    = link_to 'Edit', edit_gallery_path(@gallery)
    |
    = link_to 'Back', galleries_path