= form_for @image, :html => { :class => "upload", :multipart => true} do |f|
  %table
    %tr
      %td= f.label :titel
      %td= f.text_field :title
    %tr
      %td= f.label :galleri
      %td= f.select(:gallery_id, @gallery.map { |g| [g.title, g.id]}) # "maps" the @gallery instance variable, making it available
    %tr
      %td= f.label :billede
      %td= f.file_field :image, :rel => images_path(@image)
    %tr
      %td
      %td
        = f.submit 'Opret'
      
