= form_for @image, :html => {:multipart => true} do |f|
  = flash[:notice]
  %table
    %tr
      %td= f.label :titel
      %td= f.text_field :title
    %tr
      %td= f.label :galleri
      %td= f.select(:gallery_id, @gallery.map { |g| [g.name, g.id]}) # "maps" the @gallery instance variable, making it available
    %tr
      %td= f.label :billede
      %td= f.file_field :image
    %tr
      %td
      %td
        = f.submit 'Opret'