= form_for @image, :html => {:multipart => true} do |f|
  %table
    %tr
      %td= f.label :titel
      %td= f.text_field :title
    %tr
      %td= f.label :galleri
      %td= f.select(:gallery_id, @gallery.map { |g| [g.title, g.id]}) # "maps" the @gallery instance variable, making it available
    %tr
      %td= f.label :billede
    %tr
      %td
      %td
        = f.submit 'Opret'
        
  - key = Rails.application.config.session_options[:key]

  = content_for :scripts do
    :javascript
      var upload_params = {
        '#{key}' : '#{cookies[key]}',
        '#{request_forgery_protection_token}' : '#{form_authenticity_token}',
        '_http_accept': 'application/javascript'
      };
      var url = $('input#image').attr('rel');
      $('input#photo_image').uploadify({
        'uploader'     : '/assets/uploadify.swf',
        'script'       : url,
        'fileDataName' : 'photo[image]',
        'fileExt'      : '*.png;*.jpg;*.gif',
        'cancelImg'    : '/images/cancel.png',
        'multi'        : true,
        'scriptData'   : upload_params,
        'auto'         : true,
        'onComplete'   : function(e, id, obj, response, data) {
          $('#photos').append(response);
        }
      });
  
  #photos
    = fields_for Image.new do |f|
      = f.file_field :image, :rel => images_path(@image)
