%h3 Billeder
%table
  %tr
    %th Title
    %th Gallery
    %th
    %th
  - @images.each do |image|
    %tr
      %td= image.title
      %td= image.try(:gallery).try(:name)
      - if current_user
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete
%br/
- if current_user
  = link_to 'New Image', new_image_path