%h3 Billeder
%table
  %tr
    %th Titel
    %th Galleri
    %th
    %th
  - @images.each do |image|
    %tr
      %td= image.title
      %td= image.gallery.title if image.gallery.title?
      %td
        - if current_user
          .admin_box
            = link_to 'Vis', image
            = link_to 'Rediger', edit_image_path(image)
            = link_to 'Slet', image, confirm: 'Are you sure?', method: :delete
%br/
- if current_user
  .admin_box
    = link_to 'Nyt billede', new_image_path