%h3 Billeder
%table
  %tr
    %th Titel
    %th Galleri
    %th
    %th
  - @images.each do |image|
    %tr
      %td= image.title
      %td= image.gallery.name if image.gallery.name?
      - if current_user
        .admin_box{:style => 'width:120px;text-align:center;'}
          %td= link_to 'Vis', image
          %td= link_to 'Rediger', edit_image_path(image)
          %td= link_to 'Slet', image, confirm: 'Are you sure?', method: :delete
%br/
- if current_user
  = link_to 'Nyt billede', new_image_path