%ul
  %li
    %u Om os
  %ul
    %li Bestyrelsen
    %li Vedtægter
    %li Samarbejdspartnere

  %li
    %u Billetter
  %ul
    %li= link_to 'Bliv medlem', become_member_path
    %li Priser og rabatter
    %li Billetter i løssalg

  %li
    %u Program
  %ul
    %li Voksenteater
    %li Børneteater
    %li Gadeteater
    %li Teaterture

  %li
    %u Spillesteder
  %ul
    %li Fredensborg
    %ul
      %li Fredensborg Bio

    %li Humlebæk
    %ul
      %li Humlebæk Bio

    %li Nivå
    %li Kokkedal

  %li
    %u= link_to 'Galleri', galleries_path
  %li
    %u= link_to 'Kontakt', contact_path

%br/
%br/

%ul
  - if current_user
    %li
      %b Admin
    %li= link_to 'Billeder', images_path
    %li= link_to 'Spillesteder', places_path
    %li= link_to 'Nyheder', '/news'
    %li= link_to 'Ny bruger', new_user_path