.menu
  %h4= link_to 'Om os', '/about'
  %div
    = link_to 'Bestyrelsen', '/board'
    %br/
    = link_to 'Vedtægter', '/regulations'
    %br/
    = link_to 'Samarbejdspartnere', partners_path
      
  %h4= link_to 'Spillesteder', '#'
  %div
    = link_to 'Fredensborg', '#'
    %br/
    = link_to 'Humlebæk', '#'
    %br/
    = link_to 'Nivå', '#'
    %br/
    = link_to 'Kokkedal', '#'
    
  %h4= link_to 'Billetter', '#'
  %div
    = link_to 'Bliv medlem', '/become_member'
    %br/
    = link_to 'Priser og rabatter', '#'
    %br/
    = link_to 'Billetter i løssalg', '#'
    
  %h4= link_to 'Program', '#'
  %div
    = link_to 'Voksenteater', '/adulttheater'
    %br/
    = link_to 'Børneteater', '/childtheater'
    %br/
    = link_to 'Gadeteater', '/streettheater'
    %br/
    = link_to 'Teaterture', '/theatertours'
      
  %h4= link_to 'Galleri', galleries_path
  %div
    - Gallery.all.each do |gallery|
      = link_to gallery.title, gallery
      %br/
  
  %h4= link_to 'Kontakt', contact_path
  %div

  %br/
  %br/

- if current_user
  %b Admin
  .menu
    %h5= link_to 'Galleri', galleries_path
    %div
      \-
      = link_to 'Nyt galleri', new_gallery_path
    %h5= link_to 'Billeder', images_path
    %div
      \-
      = link_to 'Nyt billede', new_image_path
    %h5= link_to 'Spillesteder', places_path
    %div
      = link_to 'Opret spillested', new_place_path
    %h5= link_to 'Nyheder', news_items_path
    %div
      \-
      = link_to 'Opret nyhed', new_news_item_path
    %h5= link_to 'Begivenheder', events_path
    %div
      \-
      = link_to 'Opret begivenhed', new_event_path
    %h5= link_to 'Samarbejdspartnere', partners_path
    %div
      \-
      = link_to 'Opret samarbejdspartner', new_partner_path
    %h5= link_to 'Ny bruger', new_user_path
    %div
    
    %h5= link_to 'Log ud', signout_path, :method => :delete
    %div
    
  %u Bruger:
  %br/
  = current_user.email