#calendar
  %h2#month
    = #debug get_date
    = link_to "<", :month => (date.beginning_of_month-1).strftime("%Y-%m")
    =h date.strftime("%B %Y")
    = link_to ">", :month => (date.beginning_of_month+1).strftime("%Y-%m")
    
    = #debug Event.all

  - calendar_for events, :year => date.year, :month => date.month do |t|
    =# t.head('Sø', 'Ma', 'Ti', 'On', 'To', 'Fr', 'Lø')
    - t.day(:day_method => @events.published_on) do |date, event| #
      = date.day
      %ul
      - event.each do |e|
        %li= link_to h(e.title), event
 