!!!
%html
  %head
  %title Teaterforeningen Fredensborg Kommune
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js', 'jquery.fancybox-1.3.4.js'
  = csrf_meta_tags

  %body

    .container

      #header
        = render 'layouts/header'

      %section

        #menu
          = render 'layouts/menu'

        #main_content
          = link_to 'Tilbage', request.headers['HTTP_REFERER']
          = yield

      #side_content
        = #render 'layouts/side_content'

      #footer
        = render 'layouts/footer'

      - if current_user
        %ul
          %li= link_to 'Profile', current_user
          %li= link_to 'Settings', edit_user_path(current_user)
          %li= link_to 'Signout', signout_path, :method => :delete

      = #debug current_user