!!!
%html
  %head
  %title Teaterfred
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
  = csrf_meta_tags

  %body

    = yield

