!!!
%html
  %head
  %title Teaterforeningen Fredensborg Kommune
  = stylesheet_link_tag "stylesheets/application"
  = javascript_include_tag "javascripts/application"
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'
  = csrf_meta_tags

  %body

  .container

    #header
      = render 'layouts/header'

    %section

      #menu
        = render 'layouts/menu'

      #main_content

        = yield

      #side_content
        = render 'layouts/side_content'



    = render 'layouts/footer'

